<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <title>Chess — Login</title>
    <link href="/styles/login.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/background.css" rel="stylesheet" type="text/css"/>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" rel="stylesheet">
</head>
<body>
<section id="background-section">
    <ul class="bg-animation-box">
        <li class="circle-box"></li>
        <li class="corners-box-20"></li>
        <li class="circle-box"></li>
        <li class="corners-box-20"></li>
        <li></li>
        <li class="corners-box-35"></li>
        <li class="circle-box"></li>
        <li></li>
    </ul>
</section>

<div id="container">
    <h2>Login</h2>

    <form action="#">
        <input id="username" placeholder="Username" type="text"/>
        <input id="password" placeholder="Password" type="password"/>
        <input id="submit" type="submit" value="Login"/>

        <p id="switch-prompt">Don't have an account? <a href="/signup">Sign up</a></p>
    </form>
</div>
<script src="js/login/login.js"></script>
</body>
</html>
