<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <title>Chess — Signup</title>
    <link href="/styles/login.css" rel="stylesheet" type="text/css"/>
    <link href="/styles/background.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section id="background-section">
    <ul class="bg-animation-box">
        <li class="circle-box"></li>
        <li class="corners-box-20"></li>
        <li class="circle-box"></li>
        <li class="corners-box-20"></li>
        <li></li>
        <li class="corners-box-35"></li>
        <li class="circle-box"></li>
        <li></li>
    </ul>

    <div id="container">
        <h2>Signup</h2>

        <form action="#">
            <input id="username" type="text" placeholder="Username"/>
            <input id="password" type="password" placeholder="Password"/>

            <input id="submit" type="submit" value="Signup" />

            <p id="switch-prompt">Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>
</section>
<script src="js/login/signup.js"></script>
</body>
</html>