* {
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
            user-select: none; /* from community wiki stack overflow */
}

#main_content {
    display: flex;
}

#board {
    border-spacing: 0;
    display: inline;
}

.cell {
    position: relative;

    padding: 0;
    width: 100px;
    height: 100px;

    text-align: center;
    line-height: 100px;
}

.cell_number {
    position: absolute;
    bottom: 5px;
    right: 5px;

    padding: 0;
    margin: 0;

    font-family: sans-serif;
    font-size: 20px;

    line-height: 10px;
}

.cell_hover {
    background-color: blue;
}

.cell_background {
    width: 40px;
    height: 40px;

    z-index: 20;

    position: absolute;
    top: 30px;
    left: 30px;

    pointer-events: none;

    border-radius: 20px;
}

tr:nth-child(odd) .cell:nth-child(odd), tr:nth-child(even) .cell:nth-child(even) {
    background-color: #F0E8E7;
}
tr:nth-child(odd) .cell:nth-child(even), tr:nth-child(even) .cell:nth-child(odd) {
    background-color: #985650;
}

tr:nth-child(odd) .cell:nth-child(odd) .cell_number, tr:nth-child(even) .cell:nth-child(even) .cell_number {
    color: #985650;
}
tr:nth-child(odd) .cell:nth-child(even) .cell_number, tr:nth-child(even) .cell:nth-child(odd) .cell_number {
    color: #F0E8E7;
}

.piece {
    z-index: 10;

    width: 70px;
    height: 70px;

    vertical-align: middle;
}
