@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

#main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    background-color: black;
}

#center_content {
    display: flex;

    margin-top: 50px;
}

#board_container {
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 18px;
    font-weight: 700;
}

#chat_container {
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 16px;
    font-weight: 400;

    margin: 25px 10px;

    overflow-y: scoll;
}

#chat_view {
    border: 2px dotted white;
    border-bottom: none;

    width: 400px;
    height: 600px;

    overflow-x: wrap;
    overflow-y: auto;
}

#chat_view p {
    height: 16px;
    line-height: 16px;

    margin: 0;
    padding: 5px;
}

#chat_input {
    height: 40px;

    border: 2px solid white;
    color: white;
    background-color: black;

    font-size: 16px;

    padding: 0 10px;
}

#board {
    border-spacing: 0;
    display: inline;
    text-align: center;
    border: 2px solid white;

    -webkit-user-select: none;
    user-select: none;
}

#player2 {
    text-align: right;
}

#moves {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    margin-bottom: 1em;
    color: white;
    text-align: left;
}

.container {
    border: 2px solid #ccc;
    padding: 10px;
    width: 20em;
}

.swal2-popup {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

}

.cell {
    position: relative;

    padding: 0;
    width: 80px;
    height: 80px;

    text-align: center;
    line-height: 80px;
}

.cell_number {
    position: absolute;
    bottom: 5px;
    right: 5px;

    padding: 0;
    margin: 0;

    font-family: sans-serif;
    font-size: 20px;

    line-height: 10px;
}

.cell_hover {
    background-color: blue;
}

.cell_background {
    width: 30px;
    height: 30px;

    z-index: 20;

    position: absolute;
    top: 25px;
    left: 25px;

    pointer-events: none;

    border-radius: 20px;
}

tr:nth-child(odd) .cell:nth-child(odd),
tr:nth-child(even) .cell:nth-child(even) {
    background-color: #F0E8E7;
}

tr:nth-child(odd) .cell:nth-child(even),
tr:nth-child(even) .cell:nth-child(odd) {
    background-color: #985650;
}

tr:nth-child(odd) .cell:nth-child(odd) .cell_number,
tr:nth-child(even) .cell:nth-child(even) .cell_number {
    color: #985650;
}

tr:nth-child(odd) .cell:nth-child(even) .cell_number,
tr:nth-child(even) .cell:nth-child(odd) .cell_number {
    color: green;
}

.piece {
    z-index: 10;

    width: 60px;
    height: 60px;

    vertical-align: middle;
}