@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospaced;
}

body {
  font-family: "Poppins", sans-serif;
}

#main-content {
  margin: 5vw;

  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 3vw;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#header {
  display: flex;
  line-height: 30px;
  color: lightgray;

  justify-content: center;

  gap: 2vw;
}

#header p, #header h1 {
  cursor: pointer;
}

#header p:hover {
  color: white;
}

#title {
  font-size: 30px;
  color: white;

  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  overflow: scroll;
  max-height: 100%;
}

.content-state {
  display: none;

  width: 30vw;
  min-width: 200px;

  background: rgba(25, 25, 25, 0.4);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
}

#main-content h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#main-content h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 2px;
  background: #fff;
}

input {
  width: 100%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
}

input[type="submit"] {
  background: #fff;
  color: #666;
  max-width: 600px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

input[type="submit"]:hover {
  background: #666;
  color: #fff;
}

#user-info {
  color: white;
  font-weight: 600;
}