/*CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
/* -------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: linear-gradient(to bottom, #f1f4f9, #dff1ff);*/
}

section .color {
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1) {
  top: -100px;
  width: 100%;
  height: 800px;
  /*background: #f03131;*/
}

section .color:nth-child(2) {
  bottom: -350px;
  left: 100px;
  width: 100%;
  height: 100%;
  /*background: #fffc62;*/
}

section .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 45%;
  height: 100%;
  /*background: #01a2ff;*/
}

section .color:nth-child(4) {
  bottom: -100px;
  width: 75%;
  height: 400px;
  /*background: #76fb39;*/
}

.box {
  position: relative;
}

.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}

.box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}

.container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}

.form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.form .inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
}

.form .inputBox input::placeholder {
  color: white;
}

.form .inputBox input[type="submit"] {
  background: #fff;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

.forget {
  margin-top: 5px;
  color: #fff;
}

.forget a {
  color: #fff;
  font-weight: 600;
}

/* -------------------------- */

.bg-animation {

  background: linear-gradient(307deg, #000000, #121212);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;

  width: 100%;
  height: 100vh;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 28%}
  50%{background-position:100% 73%}
  100%{background-position:0% 28%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 28%}
  50%{background-position:100% 73%}
  100%{background-position:0% 28%}
}
@keyframes AnimationName {
  0% {
    background-position: 0% 28%
  }
  50% {
    background-position: 100% 73%
  }
  100% {
    background-position: 0% 28%
  }
}
.bg-animation-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.bg-animation-box li {
  position: fixed;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  animation: bg-animate-01 20s linear infinite;
  bottom: -150px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-animation-box li.circle-box {
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  display: flex;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-animation-box li.corners-box-20 {
  border-radius: 20%;

  background: rgba(255, 255, 255, 0.1);
  display: flex;

  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-animation-box li.corners-box-35 {
  border-radius: 35%;

  background: rgba(255, 255, 255, 0.1);
  display: flex;

  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-animation-box li:nth-child(1) {
  left: 4%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.bg-animation-box li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.bg-animation-box li:nth-child(3) {
  left: 18%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.bg-animation-box li:nth-child(4) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.bg-animation-box li:nth-child(5) {
  left: 43%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.bg-animation-box li:nth-child(6) {
  left: 60%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
.bg-animation-box li:nth-child(7) {
  left: 70%;
  width: 110px;
  height: 110px;
  animation-delay: 6.5s;
}

.bg-animation-box li:nth-child(8) {
  left: 95%;
  width: 110px;
  height: 110px;
  animation-delay: 1.5s;
}

@keyframes bg-animate-01 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

/*---------------*/
.test {
  /*top: 30px;*/
  /*width: 100px;*/
  /*height: 100px;*/
  color: white;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: inset 1px 1px 0.12px rgba(255, 255, 255, 0.4),
    1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255);
}
.test:hover {
  background: rgba(0, 86, 77, 1.1);
  backdrop-filter: blur(4px);
}

/*---------------*/
