* {
    box-sizing: border-box;
}

#main_content {
    display: flex;
}

#board {
    border-spacing: 0;
    border: 2px solid black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* from community wiki stack overflow */
}

.cell {
    position: relative;

    padding: 0;
    width: 100px;
    height: 100px;

    text-align: center;
    line-height: 100px;
}

.cell_number {
    position: absolute;
    bottom: 5px;
    right: 5px;

    padding: 0;
    margin: 0;

    font-family: sans-serif;
    font-size: 20px;

    line-height: 10px;
}

.cell_hover {
    background-color: blue;
}

tr:nth-child(odd) .cell:nth-child(odd), tr:nth-child(even) .cell:nth-child(even) {
    background-color: #F0E8E7;
}
tr:nth-child(odd) .cell:nth-child(even), tr:nth-child(even) .cell:nth-child(odd) {
    background-color: #985650;
}

tr:nth-child(odd) .cell:nth-child(odd) .cell_number, tr:nth-child(even) .cell:nth-child(even) .cell_number {
    color: #985650;
}
tr:nth-child(odd) .cell:nth-child(even) .cell_number, tr:nth-child(even) .cell:nth-child(odd) .cell_number {
    color: #F0E8E7;
}

.piece {
    z-index: 10;

    width: 80px;
    height: 80px;

    vertical-align: middle;
}
